/**
 * Copyright 2024 (c) Beijing Volcano Engine Technology Co., Ltd.
 * SPDX-License-Identifier: MIT
 */

.card {
  width: calc(100% - 32px);
  margin: 15px 16px;
  background-color: white;
  border-radius: 5px;

  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 25px;
    cursor: pointer;
  }

  .info {
    display: flex;
    align-items: center;

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 28px;
      height: 28px;
      text-align: center;
    }

    .title {
      margin-left: 12px;
      font-size: 16px;
      font-weight: 400;
      line-height: 28px;
    }
  }

  .jump {
    display: flex;
    align-items: center;
    width: 16px;
    height: 16px;
  }
}
