* {
  padding: 0;
  margin: 0;
  user-select: none;
}

html,
body {
  margin: 0;
  background-color: #F4F5F7;
}

#root {
  width: 100%;
  height: 100%;
}

@media screen and (width >= 960px) {
  #root {
    width: 820px;
    margin: auto;
  }

  .adm-popup-body-position-bottom {
    width: 820px;
    margin-left: calc((100% - 820px) / 2);
  }
}
