.main {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #fff;

  .head {
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: #fff;
  }

  .content {
    padding: 16px;
  }

  .foot {
    color: rgba(22, 24, 35, 0.75);
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 36px 0 28px;
  }
}

:global {
  .adm-tabs-header {
    color: rgb(22 24 35 / 60%);
    border-bottom: none;

    --active-line-color: #161823;
    --active-title-color: #161823;
  }

  .adm-tabs-tab-active {
    --active-title-color: #161823;
  }
}
